.text_box{
    display: flex;
    background-color: aquamarine;
    width: auto;
    min-width: 100%;
    min-height: 100px;
    font-size: 15px;
    border: 10px solid;
    border-color: rgb(15, 82, 99);
    justify-content: center;
}