header,footer {
  display: flex;
  background-color: lightblue;
  width: 100%;
  min-height: 60px;
  
}
header{
  font-size: 30px;
  color: black;
  justify-content: space-evenly;
  align-items: center;
}
footer{
  font-size: 25px;
  align-items: start;
  flex-direction: column;
}